---
import { Image } from "astro:assets"
import logo from "../assets/company_logo.svg"
---

<Image src={logo} alt="" height={300}/>

<style>
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #002fa7;
    font-family: sans-serif;
    color: white;
  }
  .subtitle {
    font-size: 3rem;
    opacity: 0.9;
  }
</style>

<h1 class="subtitle">{"A B.I.G GAME IS COMING..."}</h1>
